@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700;800;900&family=Poppins:ital,wght@0,100;0,300;0,600;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-size: 16px !important;
}
html{
    background: #FCFBFB;
}
.logo-text{
    font-weight: 700 !important;
}

*{
    font-family: 'Noto Sans', 'Poppins', sans-serif !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app{
    background:linear-gradient(90deg, rgba(22, 26, 48, 1) 0%, rgba(49, 48, 77, 1) 33%) !important;
}
body {
    overflow-y: scroll;
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: transparent transparent;
    /* For Firefox */
}

/* For Webkit browsers like Chrome and Safari */
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}


.scrolable{
    scrollbar-width: thin !important;
}

.scrolable::-webkit-scrollbar{
    width: 5px !important;
}

.scrolable::-webkit-scrollbar-thumb {
    background-color: white !important;
}

.scrolable::-webkit-scrollbar-track {
    background-color: transparent !important;
}
.calculateurItemTitle{
    height: 30% !important;
}

::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder{
    color:'#fff' !important
}



/* Input container */
.input-container {
    position: relative;
    font-size: 13px !important;
}

/* Input field */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 13px !important;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    color: #000;
    font-size: larger;
}


.input-field::placeholder{
    color: '#000';
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px !important;
    color: #000;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus+.input-label {
    top: -20px;
    font-size: 13px;
    color: #007bff;
}

.input-field:focus+.input-label+.input-highlight {
    width: 100%;
}

.grip-dots {
    opacity: 0.3 ;
    transition: .3s eas all;
}

.grip-dots:is(:hover,:focus)
{
    opacity: 1;
}

.cb-tab:is(:hover,:focus) > .grip-dots{
    opacity: 1;
}

.form-container:is(:hover, :focus) .grip-dots {
    opacity: 1;
}
select{
    font-size: 13px !important;
}
.content-container{
    margin: 0 auto !important;
}
.header{
    z-index: 999999 !important;
}



.input-field-smPatrimoine {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 13px !important;
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
    font-size: larger;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield !important;
}














 .mydict :focus {
    outline: 0;
    border-color: #4b7bf4;
    box-shadow: 0 0 0 4px #b5c9fc;
}

.mydict div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
    width: 100%;
}

.mydict input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
   
}

.mydict input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0625em #AACEEC;
    background-color: #dee7ff;
    z-index: 1;
    color: #4e87dc;
}

 .mydict label> span {
    display: block;
    cursor: pointer;
    background-color: #EBF0F6;
    padding: 0.6em .75em;
    position: relative;
    margin-left: .0625em;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
}

.emprunt{
    z-index: 9999999 !important;
}

.home{
    background-image: url('./assets/imgs/homebg.png') !important;
}

.home .loginBtn {
    padding: 15px 30px;
    color: #009AD5;
    /* border: none; */
    outline: none;
    border-radius: 0px;
    font-size: 1rem;
    z-index: 1;
    position: relative;
    -webkit-box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
    box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
    overflow: hidden;
    cursor: pointer;
}

.home .loginBtn>span {
    z-index: 2;
}



.home .loginBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background-color: #009AD5;
    z-index: -1;
    overflow: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
}

.home .loginBtn:hover {
    color: #e8e8e8;
}

.home .loginBtn:hover::before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}



.home ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background-color: #009AD5;
    transition: 0.3s ease;
    margin-top: 10px;
}

.home ul li:hover::after{
    width: 100%;
}



#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #009AD5;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}




/***** Tornado Animation *****/

.bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s) * .6;
}

.bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity, transform;
    transition-delay: calc(0s + 0.35s * .3);
}

.bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top, transform;
    transition-delay: 0s;
}

#checkbox:checked+.toggle .bar--top {
    transform: rotate(-135deg);
    transition-delay: 0s;
    bottom: calc(50% - 4px/ 2);
}

#checkbox:checked+.toggle .bar--middle {
    opacity: 0;
    transform: rotate(-135deg);
    transition-delay: calc(0s + 0.35s * .3);
}

#checkbox:checked+.toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(-225deg);
    transition-delay: calc(0s + 0.35s * .6);
}















.voltage-button {
    position: relative;
}

.voltage-button button {
    color: white;
    background: #009AD5;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5rem;
    border: 5px solid #009AD5;
    font-size: 1.2rem;
    line-height: 1em;
    letter-spacing: 0.075em;
    transition: background 0.3s;
}

.voltage-button button:hover {
    cursor: pointer;
    background: #023B6E;
}

.voltage-button button:hover+svg,
.voltage-button button:hover+svg+.dots {
    opacity: 1;
}

.voltage-button svg {
    display: block;
    position: absolute;
    top: -0.75em;
    left: -0.25em;
    width: calc(100% + 0.5em);
    height: calc(100% + 1.5em);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s;
    transition-delay: 0.1s;
}

.voltage-button svg path {
    stroke-dasharray: 100;
    filter: url("#glow");
}

.voltage-button svg path.line-1 {
    stroke: #f6de8d;
    stroke-dashoffset: 0;
    animation: spark-1 3s linear infinite;
}

.voltage-button svg path.line-2 {
    stroke: #6bfeff;
    stroke-dashoffset: 500;
    animation: spark-2 3s linear infinite;
}

.voltage-button .dots {
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.4s;
}

.voltage-button .dots .dot {
    width: 1rem;
    height: 1rem;
    background: white;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
}

.voltage-button .dots .dot-1 {
    top: 0;
    left: 20%;
    animation: fly-up 3s linear infinite;
}

.voltage-button .dots .dot-2 {
    top: 0;
    left: 55%;
    animation: fly-up 3s linear infinite;
    animation-delay: 0.5s;
}

.voltage-button .dots .dot-3 {
    top: 0;
    left: 80%;
    animation: fly-up 3s linear infinite;
    animation-delay: 1s;
}

.voltage-button .dots .dot-4 {
    bottom: 0;
    left: 30%;
    animation: fly-down 3s linear infinite;
    animation-delay: 2.5s;
}

.voltage-button .dots .dot-5 {
    bottom: 0;
    left: 65%;
    animation: fly-down 3s linear infinite;
    animation-delay: 1.5s;
}

@keyframes spark-1 {
    to {
        stroke-dashoffset: -1000;
    }
}

@keyframes spark-2 {
    to {
        stroke-dashoffset: -500;
    }
}

@keyframes fly-up {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0.2);
    }

    5% {
        opacity: 1;
        transform: translateY(-1.5rem) scale(0.4);
    }

    10%,
    100% {
        opacity: 0;
        transform: translateY(-3rem) scale(0.2);
    }
}

@keyframes fly-down {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0.2);
    }

    5% {
        opacity: 1;
        transform: translateY(1.5rem) scale(0.4);
    }

    10%,
    100% {
        opacity: 0;
        transform: translateY(3rem) scale(0.2);
    }
}




.main-tarif .MuiSlider-valueLabelLabel {
    color: #000000 !important;
}

.main-tarif .MuiSlider-valueLabel {
    /* top: px !important; */
}

.main-tarif .MuiSlider-valueLabel:before {
    /* top: -6px; */
}


.main-tarif .MuiSlider-valueLabelOpen,
 .main-tarif .MuiSlider-valueLabel ,
 .main-tarif .css-nnid7-MuiSlider-valueLabel{
background-color: #009AD5 !important;
 }

 .frais > div{
    padding: 10px;
    border-left: 2px solid #e0c8b3;
 }

 .calc-slider .MuiSlider-rail ,
  .calc-slider .css-14pt78w-MuiSlider-rail

 {
    display: none;

 } 
 
 .calc-slider .MuiSlider-track ,
  .calc-slider .css-1gv0vcd-MuiSlider-track{
display: none;
 }
 

 .calc-slider .MuiSlider-thumb ,
 .calc-slider .MuiSlider-thumbSizeMedium ,
 .calc-slider .MuiSlider-thumbColorPrimary ,
 .calc-slider .MuiSlider-thumb,
 .calc-slider .MuiSlider-thumbSizeMedium ,
 .calc-slider .MuiSlider-thumbColorPrimary,
 .calc-slider .css-eg0mwd-MuiSlider-thumb{

        padding: 20px;
        /* display: block; */
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        width: 130px;
        /* width: fit-content; */
        border-radius: 5px;
        scale: 0.8;
 }